{% extends 'Jalon/layaout.html' %}
{% load static %}

{% block title %}Usuario {{ usuario.Usuario}}{% endblock %}

{% block CustomCSS %}
    <!-- No hay css personalizado de momento para esta pagina -->
{% endblock %}

{% block content %}
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-4 offset-5">
                <img style="width: 200px;height: 200px; border-radius:150px;" src="{{ usuario.Foto.url }}" class="img-thumbnail">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p><strong class="fs-2">{{ usuario.Nombre_Completo }}</strong><br>
                DPI: {{ usuario.Docidentificacion}}<br>
                Telefono: {{ usuario.Telefono }}<br>
                
            </div>
        </div>
        <div class="row">
            <div class="col-2 offset-1">
                <img style="width: 200px;height: 200px;" src="{{ usuario.Pose1.url }}" class="img-thumbnail">
            </div>
            <div class="col-2">
                <img style="width: 200px;height: 200px;" src="{{ usuario.Selfie1.url }}" class="img-thumbnail">
            </div>
            <div class="col-2"> 
                <img style="width: 200px;height: 200px;" src="{{ usuario.Pose2.url }}" class="img-thumbnail">
            </div>
            <div class="col-2">
                <img style="width: 200px;height: 200px;" src="{{ usuario.Selfie2.url }}" class="img-thumbnail">
            </div>
            <div class="col-2">
                <img style="width: 200px;height: 200px;" src="{{ usuario.Dpi.url }}" class="img-thumbnail">
            </div>
        </div>
    </div>
    <hr size="2px" color="black" />
    <div class="mb-3">
        <form class="form-control" action="/verificacion/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="usuario" value="{{ usuario.Usuario }}">
            <label class="form-label">Deja un mensaje al conductor (opcional)</label>
            <textarea class="form-control mb-3" name="Mensaje" rows="5"></textarea>
            <select class="form-select mb-3" name="Verificado" required>
                <option selected value=''>Decision</option>
                <option value=0>Denegar</option>
                <option value=1>Aprobar</option>
            </select>
            <center>
                <button type="submit" class="btn btn-success btn-lg">Actualizar</button>
                <a href="{% url 'Usuarios' %}" class="btn btn-danger btn-lg">Cancelar</a>
            </center>
        </form>
    </div>
    <br><br><br>
{% endblock %}