{% extends 'Jalon/layaout.html' %}
{% load static %}

{% block title %}Deposito del usuario {{ Deposito.Usuario.Usuario}}{% endblock %}

{% block CustomCSS %}
    <!-- No hay css personalizado de momento para esta pagina -->
{% endblock %}

{% block content %}
    <br><br><br>
    <div class="container">
        <div class="row">
            <div class="col-4 offset-5">
                <img style="width: 200px;height: 200px; border-radius:150px;" src="{{ Deposito.Usuario.Foto.url }}" class="img-thumbnail">
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p><strong class="fs-2">{{ Deposito.Usuario.Nombre_Completo }}</strong><br>
                Telefono: {{ Deposito.Usuario.Telefono }}<br>
                Fecha: {{ Deposito.created }}<br><br>

                <strong class="fs-2">Datos del banco</strong><br>
                <strong>Cuenta Monetaria</strong><br>
                {{ Deposito.Banco }}<br>
                {{ Deposito.NoCuenta }}<br><br>

                <strong class="fs-2">Monto a transferir</strong><br>
                <strong class="fs-1">Q.{{ Deposito.Monto }}</strong>
                </p>
                
            </div>
        </div>
    </div>
    <hr size="2px" color="black" />
    <div class="mb-3">
        <form class="form-control" action="/verificacion_deposito/" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{ Deposito.id }}">
            <input type="hidden" name="usuario" value="{{ Deposito.Usuario.Usuario }}">
            <label class="form-label">Deja un mensaje al conductor (opcional)</label>
            <textarea class="form-control mb-3" name="Mensaje" rows="5"></textarea>
            <select class="form-select mb-3" name="Depositado" required>
                <option selected value=''>Decision</option>
                <option value=0>Deposito Fallido</option>
                <option value=1>Deposito Realizado</option>
            </select>
            <center>
                <button type="submit" class="btn btn-success btn-lg">Actualizar</button>
                <a href="{% url 'Depositos' %}" class="btn btn-danger btn-lg">Cancelar</a>
            </center>
        </form>
    </div>
    <br><br><br>
{% endblock %}