{% extends 'Jalon/layaout.html' %}
{% load static %}

{% block title %}Depositos{% endblock %}

{% block CustomCSS %}
    <!-- No hay css personalizado de momento para esta pagina -->
{% endblock %}

{% block content %}
    <div class="container">
        {% for deposito in depositos %}
            <hr size="4px" color="black" />
            <div class="row mb-3">
                <div class="col-2">
                    <img style="width: 132px;height: 132px; border-radius:150px;" src="{{ deposito.Usuario.Foto.url }}" class="img-thumbnail float-start">
                </div>
                <div class="col-8">
                    <a class="text-black text-decoration-none fs-1 align-middle" href="{% url 'Deposito' deposito.id %}">{{ deposito.Usuario.Nombre_Completo }} | Q.{{ deposito.Monto }}</a>
                </div>
                <div class="col-2">
                    <p class="text-muted align-middle">{{ deposito.created }}</p>
                </div>
            </div>
            <hr size="5px" color="black" />
        {% endfor %}
    </div>
{% endblock %}