{% extends 'Jalon/layaout.html' %}
{% load static %}
{% block title %}Incio{% endblock %}

{% block CustomCSS %}
{% endblock %}

{% block content %}
{% if Usuarios %}
    <p><strong class="fs-2">Usuarios pendientes de verificacion: {{ Usuarios }}</strong></p><br>
{% else %}
    <p><strong class="fs-2">Verificacion de usuarios al dia</strong></p><br>
{% endif %}

{% if Depositos %}
    <p><strong class="fs-2">Depositos Pedientes de Verificacion: {{ Depositos }}</strong></p><br>
{% else %}
    <p><strong class="fs-2">Verificacion de depositos al dia</strong></p><br>
{% endif %}
{% endblock %}