{% extends 'Jalon/layaout.html' %}
{% load static %}
{% block title %}Incio{% endblock %}

{% block CustomCSS %}
{% endblock %}

{% block content %}


<div class="card text-center">
    <h5 class="card-header">Bienvenido {{ user.username }}</h5>
    <div class="card-body">
      <h5 class="card-title">Pedientes</h5>
      <p class="card-text">
        {% if Usuarios %}
            Usuarios pendientes de verificacion: {{ Usuarios }}
        {% else %}
            Verificacion de usuarios al dia
        {% endif %}
        <br>
        {% if Depositos %}
            Depositos Pedientes de Verificacion: {{ Depositos }}
        {% else %}
        Verificacion de depositos al dia
        {% endif %}
      </p>
      {# <a href="#" class="btn btn-primary">Go somewhere</a> #}
    </div>
</div>
{% endblock %}